@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    /*color: var(--foreground);*/
    color: black;
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* add more global styles here */
h1 { font-size: theme('fontSize.4xl'); }
h2 { font-size: theme('fontSize.3xl'); }
h3 { font-size: theme('fontSize.2xl'); }
p { font-size: theme('fontSize.base'); }

/* Global styles using TailwindCSS */
@layer components {
    .link-text {
        @apply text-green-500 font-bold
    }

    .form-wrapper {
        @apply bg-white rounded-lg shadow-md flex flex-col items-center m-4 p-4
    }
}

